# Ignore node_modules in both frontend and backend
backend/node_modules
frontend/node_modules

# Ignore the .env file for sensitive data
.env

# Ignore build output directories
/build
/dist

# Ignore log files
*.log

# Ignore npm package lock files
package-lock.json
yarn.lock

# Ignore IDE/Editor specific files
.vscode/

# Ignore other OS-specific files
.DS_Store
Thumbs.db
